{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}
<h2>Change Password</h2>
<form action="/change_password" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="old_password" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="old_password" name="old_password" required>        
    </div>
    <div class="mb-3">     
        <label for="New_password" class="form-label">New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password" required>
    </div>
    <div class="mb-3">
        <label for="confirmation" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="confirmation" name="confirmation" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>    
</form>
{% endblock %}